<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Custom fonts for this template-->
    <link th:href="@{/sb2/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link th:href="@{/sb2/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/css/jquery-confirm.min.css}" rel="stylesheet">
    <link th:href="@{/css/jquery.validator.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="footer">
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/sb2/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/sb2/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/js/jquery-confirm.min.js}"></script>

    <script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/jsencrypt.min.js}"></script>


    <!-- Core plugin JavaScript-->
    <script th:src="@{/sb2/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/sb2/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/sb2/vendor/chart.js/Chart.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/sb2/js/demo/chart-pie-demo.js}"></script>
    <script th:src="@{/sb2/js/demo/chart-area-demo.js}"></script>

    <script th:src="@{/js/jquery.validator.min.js}"></script>
    <script th:src="@{/js/jquery.i18n.properties.min.js}"></script>
    <script th:src="@{/js/global-env.js}"></script>
    <script th:inline="javascript">
        //获取应用路径
        var ROOT = "/";
        //获取默认语言
        var LANG_COUNTRY = [[${#locale.language+'_'+#locale.country}]];

        //初始化i18n插件
        $.i18n.properties({
            path: ROOT + 'i18n/',//这里表示访问路径
            name: 'message',//文件名开头
            language: LANG_COUNTRY,//文件名语言 例如en_US
            mode: 'both'//默认值
        });

        //初始化i18n函数
        function i18n(msgKey) {
            try {
                return $.i18n.prop(msgKey);
            } catch (e) {
                return msgKey;
            }
        }

        //获取国际化翻译值
        // console.log(i18n('form.alert.30days'));
        // console.log(i18n('User Login'));
    </script>
</div>
</body>
</html>