<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="iframe_div" th:fragment="iframe_div">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">员工辞职通知表</h1>
    </div>


    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <form id="resignation_form">
                        <div class="form-group">
                            <label for="last_day">date time picker</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
                                </div>
                                <input type="text" class="form-control" th:value="${last_day}" id="last_day" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="res_reason">辞职原因</label>
                            <textarea class="form-control" id="res_reason" rows="3"></textarea>
                        </div>

                        <button type="button" id="res_btn" class="btn btn-outline-primary">提交</button>
                        <button type="reset" class="btn btn-outline-secondary">Secondary</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        $('#last_day').datepicker({
            startDate: new Date([[${last_day}]]),
            fontAwesome: 'font-awesome',//指定
            language: 'zh',//语言
            format: 'yyyy-mm-dd',//日期格式化
            autoclose: 1,//选择后自动关闭
            minView: "month",//设置只显示到月份
            todayBtn: 1,//显示‘今日’按钮

            // clearBtn:true,//清除按钮
        });// 2018,7,1 号能点击，要传入比开始的日期多一天


        $("#res_btn").click(
            function () {
                var key =
                    'MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCJ9s1qlOyv9qpuaTqauW6fUftzE50rVk3yVPZwv1aO1Ch/' +
                    'XSEz76xCwkyvqpaqceRXrPpdBmO5+ruJ+I8osOHo7L5GWEOcMOO+8izp9hXKBBrmRMD4Egpn00k9DhVIEKp/vyddZPS/' +
                    'doxB8onhN6poTJDLdFLFVEicMf52caN9GQIDAQAB';
                var encrypt = new JSEncrypt();
                var _table = {
                    last_day: $("#last_day").val(),
                    res_reason: $('#res_reason').val()
                };
                encrypt.setPublicKey(key);
                $.ajax({
                    type: "POST",
                    url: "/apply/resignation",
                    // data: "{\"requestData\":" + encrypt.encrypt(JSON.stringify({
                    //     bpm: 'resignation',
                    //     formData: JSON.stringify(_table)
                    // })) + "}",
                    data: $("#resignation_form").serializeArray(),
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (result) {
                        console.log("解密的名称：" + result);
                    }
                });
            })
    </script>
</div>
</body>
</html>