<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="iframe_div" th:fragment="iframe_div">
    <script th:src="@{/js/custom-jq-comfirm.js}"></script>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">员工辞职通知表</h1>
    </div>


    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Overview</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body" th:inline="text">
                    <form id="resignation_form">
                        <div class="form-group">
                            <label for="last_day" th:text="#{form.alert.30days}"></label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
                                </div>
                                <input type="text" class="form-control" name="last_day" th:value="${last_day}"
                                       id="last_day" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="res_reason">辞职原因</label>
                            <textarea class="form-control" name="res_reason" id="res_reason" rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="res_remark">备注</label>
                            <input class="form-control" name="res_remark" placeholder="最后工作日小于系统自动选择时此项必填"
                                   id="res_remark"/>
                        </div>

                        <button type="button" id="res_btn" class="btn btn-outline-primary">提交</button>
                        <button type="reset" class="btn btn-outline-secondary">重置</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        var _data = [[${last_day}]];
    </script>
    <script th:src="@{/js/resignation.js}"></script>
</div>
</body>
</html>